/* tslint:disable */
import { Injectable } from '@angular/core';
import { Http, Response, Headers, URLSearchParams, RequestOptions } from '@angular/http';

import 'rxjs/add/operator/toPromise';
import { Observable } from 'rxjs/Observable';

import { ApiConfiguration } from '../api-configuration';
import { ApiResponse as _ApiResponse_ } from '../api-response';

{{#serviceDependencies}}import { {{modelName}} } from '../models/{{modelFile}}';
{{/serviceDependencies}}

{{#stubs}}{{#serviceOperations}}import { {{operationName}}Stub } from '../stubs/{{operationName}}Stub';
{{/serviceOperations}}{{/stubs}}

{{{serviceComments}}}
@Injectable()
export class {{serviceClass}} {
  constructor(
    public http: Http
  ) {
  }
{{#serviceOperations}}
  {{#stubs}}
    {{>stubOperation}}
  {{/stubs}}
  {{^stubs}}
    {{>operation}}
  {{/stubs}}
{{/serviceOperations}}
}

export module {{serviceClass}} {
{{#serviceOperations}}{{#operationParamsClass}}  export interface {{operationParamsClass}} {
{{#operationParameters}}    {{paramName}}{{^paramRequired}}?{{/paramRequired}}: {{paramType}};
{{/operationParameters}}
  }
{{/operationParamsClass}}{{/serviceOperations}}
}
