
{{{operationComments}}}
  {{operationName}}({{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramName}}{{^paramRequired}}?{{/paramRequired}}: {{paramType
  }}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}): {{operationResultType}} {
    {{^operationIsVoid}}return {{operationName}}Stub as {{operationResultType}};{{/operationIsVoid
    }}
  }
