
{{{operationComments}}}
  {{operationName}}({{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramName}}{{^paramRequired}}?{{/paramRequired}}: {{paramType
  }}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}): {{#operationIsVoid}}{{operationResultType}}{{/operationIsVoid}}{{^operationIsVoid}}Observable <{{operationResultType}}>{{/operationIsVoid}} {
      {{^operationIsVoid}}
      let responseKey = 'default';
      {{^operationParamsClass}}let customKey = {{#operationParameters}}{{paramName}}{{^paramIsLast}}+'_'+{{/paramIsLast}}{{/operationParameters}}{{^operationParameters}}''{{/operationParameters}};

      if (customKey !== '' && {{operationName}}Stub[customKey]) {
        responseKey = customKey;
      }
      {{/operationParamsClass}}
      return Observable.of({{operationName}}Stub[responseKey] as {{operationResultType}});{{/operationIsVoid
    }}
  }
