
{{{operationComments}}}
  {{operationName}}({{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramName}}{{^paramRequired}}?{{/paramRequired}}: {{paramType
  }}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}): {{#operationIsVoid}}{{operationResultType}}{{/operationIsVoid}}{{^operationIsVoid}}Observable <{{operationResultType}}>{{/operationIsVoid}} {
    {{^operationIsVoid}}return Observable.of({{operationName}}Stub as {{operationResultType}});{{/operationIsVoid
    }}
  }
